i/*----ARREGLOS GENERALES----*/
* {
  margin: 0;
  padding: 0;

}

body {
  font-family: verdana, geneva, serif;
  min-height: 100vh;
  position: relative;
  margin: 0;
}

/*-------------LOGIN---------------*/

#exportar{
    padding-left: 365px;
}
#datos{
    margin-left: 225px;
}
#cerrar{
    width: 37px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}
#info{
    width: 37px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}
#dv-cerrar {
    position: absolute;
    right: 1%;
    margin-right: 15px; 
    margin-top: -91px;
}
#dv-info {
    position: absolute;
    left: 1%;
    margin-right: 15px; 
    margin-top: -91px;
}

#lb-cerrar{
    color: black;
    
}
.form-login {
    padding: 0 10%;
    text-align: left;
}

body#login{
    background-image: url(../img/maiz.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333;
}
.header {
    position: relative;
    z-index: 95;
    padding-bottom: 0px;
    background-color: #ffffff;
}

.logo {
    display: block;
    max-width: auto;
    margin-right: auto;
    margin-left: auto;
    padding-top: 0px;
    float: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
}

.wrapper-login {
    margin-top: 80px;
    margin-bottom: 50px;
    text-align: center;
    padding: 3% 0px;
    background-color: rgba(243, 247, 243, 0.87);
    -webkit-box-shadow: 10px 3px 66px -19px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 3px 66px -19px rgba(0,0,0,0.75);
    box-shadow: 10px 3px 66px -19px rgba(0,0,0,0.75);
}

.head_logo {
    height: 100%;
}
.w-row:before, .w-row:after {
    content: " ";
    display: table;
}
.w-row:after {
    clear: both;
}
.contenedorlogo {
    height: 100px;
    margin-bottom: 3px;
    padding-top: 8px;
    text-align: center;
}
.w-col-4 {
    width: 33.33333333%;
}
.w-col {
    position: relative;
    float: left;
    width: 100%;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
}
.w-inline-block {
    max-width: 100%;
    display: inline-block;
}
.w3ls-form {
    display: inline-block;
    width: 350px;
    margin: auto;
    text-align: left;
}
label, input[type="email"],input[type="submit"]{
    display: block;
        font-family: 'Open Sans', sans-serif;
}
/*input[type="email"], input[type="password"], input[type="text"] {
    outline: 0;
    padding: 12px 15px;
    border-radius: 25px;
    border: none;
    /* background-color: rgba(31, 248, 255, 0.59); */
    /*background-color: rgba(100, 103, 100, 0.63);
    color: white !important;
    width: 100%;
    letter-spacing: 1px;
}*/
.agile-login h1 {
    text-align: center;
    color: #fff;
    margin-bottom: 2%;
    font-size: 45px;
    font-weight: 300;
    letter-spacing: 5px;
    text-transform: uppercase;
}
.wrapper h2, .wrapper-login h2{
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 26px;
    color: white;
    font-weight: 600;
    letter-spacing: 2px;
}
a.pass {
    font-size: 15px;
        color: #efbb42;
        font-family: 'Open Sans', sans-serif;
            letter-spacing: 1px;
}
.w3ls-form a {
    display: block;
    text-align: right;
        margin: 15px 73px;
}

 label {
    margin: 20px 0px 8px 15px;
    font-size: 13px;
     color: #000;
    font-family: 'Open Sans', sans-serif;
     text-transform: uppercase;
    letter-spacing: 2px;
}
input[type="submit"] {
    border-radius: 25px;
    font-size: 18px;
    border: none;
    background-color: #0b4ba7d1;
    color: #fff;
    outline: 0;
    border: 1px solid #4f5d61;
    cursor: pointer;
        width: 100%;
        letter-spacing: 1px;    
}
input[type="submit"]:hover {
    color:#0b4ba7d1;
    background-color: #ffffff;
    cursor: pointer;
        width: 100%;
        letter-spacing: 1px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ccc6c6;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #ccc6c6;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #ccc6c6;
}
:-moz-placeholder { /* Firefox 18- */
  color: #ccc6c6;
}

.agile-icons {
    padding: 3% 0px;
}
span.fa.fa-twitter:hover {
    background-color: #00b6f1;
    color: white;
}
span.fa.fa-facebook:hover {
    background-color: #3b5998;
    color: white;
}
span.fa.fa-pinterest-p:hover {
    background-color: #cb2027;
    color: white;
}
.agile-icons span.fa {
    font-size: 12px;
    margin: auto 10px;
    color: #fff;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 50%;
    background-color: rgba(243, 249, 249, 0.22);
}
.copyright p {
    text-align: center;
        padding: 15px 0px;
    color: white;
    /* background-color: rgba(35, 30, 30, 0.43); */
    margin-top: 4%;
        letter-spacing: 2px;
        font-size: 13px;
}
.copyright a {
    color: aqua;
}
.copyright a:hover {
    color: yellow;
}

/* responsive */
@media screen and (max-width: 1024px){
    
    .copyright p {
   margin-top: 0%;
}
}


@media screen and (max-width: 568px){
    .agile-login h1 {
            font-size: 40px;
            
    }
    #banner{
        width: 197%;
        height: 552px;
        background: url(../img/fondo2cel.png);
        background-repeat: no-repeat;
        background-size: 138%;
        background-position-x: -131px;
    }
    
    nav ul li {
        width: 100px;
    }
   nav ul li a {
        width: 100px!important;
        padding: 10px!important;
        font-size: 0.7em !important;
    }

   
}

@media screen and (max-width: 480px){
        body{
            background-position: center;
        }
        .agile-login {
        padding-top: 35px;
    }
        .agile-login h1 {
        font-size: 35px;
        letter-spacing: 4px;
    }
        .wrapper , .wrapper-login {
        font-size: 26px;
    }
    .copyright p {
        letter-spacing: 1px;   
    }    
}
@media screen and (max-width: 414px){
    .agile-login h1 {
    font-size: 30px;
    letter-spacing: 3px;
        margin-bottom: 6%;
}
.w3ls-form {
        width: 300px;
}
.wrapper h2, .wrapper-login h2 {
    font-size: 20px;
    margin-bottom: 15px;
}
.copyright p {
    padding: 10px 0px;
    font-size: 14px;
    margin-top: 6%;
}
    
}
@media screen and (max-width: 375px){
    .agile-login h1 {
    font-size: 29px;
}
    input[type="email"] {
        width: 90%;
    }
    label {
    margin: 20px 0px 5px 10px;
    font-size: 13px;
    color: #fff;
    }
    .copyright p {
    font-size: 13px;

}
}
@media screen and (max-width: 320px){
    .w3ls-form {
        width: 270px;
    }
    .agile-login h1 {
        font-size: 23px;
    }
    .wrapper h2, .wrapper-login h2 {
        font-size: 18px;
        margin-bottom: 10px;
    }
    input[type="email"] {
        margin: 10px auto;
            padding: 8px 60px;
    }
    .agile-login {
        padding-top: 30px;
    }
    label {
        margin: 15px 0px 5px 10px;
    }
    .copyright p {
       margin-top: 0%;
    }
    input[type="email"] {
        padding: 10px 15px;
    }
}


/* ------------REGISTRO-------------- */
body#registro{
  background-image: url(../img/registro.jpg);
  background-repeat: no-repeat;
  background-size: 1550px;
}

@media screen and (max-width: 768px){
    .w3ls-form {
        display: block;
        width: 100%;
     
    }
}

.error{
    background-color: #E74F4F;
    font-size: 1.4em;
    position: absolute;
    top: 0;
    padding: 10px 0 ;
    border-radius:  0 0 5px 5px;
    color: #fff;
    width: 100%;
    text-align: center;
    display: none;
}

.mensaje_error{
    font-size: 2em;
}

.btn-login { background-color: #5ea70bd1; }





.main-content { padding-bottom: 3%; }

.main-cont { margin: 0; padding: 0; }

footer {
  position: absolute;
  bottom: 0;
  background: #FFFFFF;
  width:100%;
  padding: 1%;
}



.header a img { width: 60%; padding: 2%; }

.select-style { width: 100% !important; }

table.dataTable tbody td {
  word-break: break-word;
  vertical-align: top;
  white-space: normal !important;

}
table.dataTable.nowrap th, table.dataTable.nowrap td{
  white-space: normal!important;
  
}


@media screen and (max-width: 1400px){
  div#exportar{
   
    margin-left: -14%;
  }
  form#datos{
    margin-left: 10%;
  }
  .inputs-opciones {
  margin-right: 3%;
  margin-top: 2%;
  }
  .btn-generar{
    margin-top: 3%!important;
  }
}
@media screen and (max-width: 990px){
  div#exportar{
    padding-left: 0%;
    margin-left: -56px;
  }
  form#datos{
    margin-left: 7%;
  }
  .inputs-opciones {
  margin-right: 3%;
  margin-top: 2%;
  }
  .btn-generar{
    margin-top: 3%!important;
  }
}
@media screen and (max-width: 900px){
  div#exportar{
    padding-left: 0%;
    margin-left: -56px;
  }
  form#datos{
    margin-left: -1%;
  }
  .inputs-opciones {
  margin-right: 3%;
  margin-top: 2%;
  }
  .btn-generar{
    margin-top: 3%!important;
  }
}

.dt-button {
    width: 85px;
    margin: 20px 9px;
    padding: 5px !important;
    border-radius: 25px !important;
    font-size: 13px !important;
    border: none !important;
    background-color: #5ea70bd1 !important;
    background-image: none !important;
    color: #fff !important;
    outline: 0 !important;
    border: 1px solid #4f5d61 !important;
    cursor: pointer !important;
    letter-spacing: 1px;
}
.dt-button:hover {
    background-color: #FFFFFF !important;
    color: #5ea70bd1 !important;
}


.separator-top { margin: 3% 0; }
.separator-bot { margin: 15% 0; }

#visor-reportes { padding: 2%; }






#datos {
    margin-left: 10%;
}
#exportar {
    padding-left: 26%;
}


button[type="submit"] {
    border-radius: 25px;
    font-size: 13px;
    border: none;
    background-color: #5ea70bd1;
    color: #fff;
    outline: 0;
    border: 1px solid #4f5d61;
    cursor: pointer;
    letter-spacing: 1px;
}
button[type="submit"]:hover {
    color:#5ea70bd1;
    background-color: #ffffff;
    cursor: pointer;
    letter-spacing: 1px;
}




/* Reporte anual */

#dv-cerrar {
        margin-right: 15px;
        margin-top: -91px;
    }

    .nav-link { color: white; }

      #menu {
      background: #0b66a7d1;
    }
    #exportar {
    padding-left: 20%;
    }
    .opciones{
      display: inline-flex;
    width: 90%;
    margin: auto;
    text-align: left;
    }
    .inputs-opciones{
      margin-right: 58px;
    margin-top: 2%;
    }

    @media screen and (max-width: 1400px){
      div#exportar{
       
        margin-left: -14%;
      }
      form#datos{
        margin-left: 20%;
      }
      .inputs-opciones {
      margin-right: 3%;
      margin-top: 2%;
      }
      .btn-generar{
        margin-top: 3%!important;
      }
    }
    @media screen and (max-width: 990px){
      div#exportar{
        padding-left: 0%;
        margin-left: -56px;
      }
      form#datos{
        margin-left: 7%;
      }
      .inputs-opciones {
      margin-right: 3%;
      margin-top: 2%;
      }
      .btn-generar{
        margin-top: 3%!important;
      }
    }
    @media screen and (max-width: 900px){
      div#exportar{
        padding-left: 0%;
        margin-left: -56px;
      }
      form#datos{
        margin-left: -1%;
      }
      .inputs-opciones {
      margin-right: 3%;
      margin-top: 2%;
      }
      .btn-generar{
        margin-top: 3%!important;
      }
    }



